.banner-bg{
    background-image: url(https://images.unsplash.com/photo-1494233914995-8c8b438d3f60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}



.banner{
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
}


.banner-image{
    height: 85vh ;
}